<%- include('components/Layout/Head') %>
<%- include('components/Layout/HomepageSections/Hero') %>
<%- include('components/Layout/HomepageSections/SearchProperties') %>
<%- include('components/Layout/HomepageSections/FeaturedProperties') %>
<%- include('components/Layout/HomepageSections/CallToAction') %>
<%- include('components/Layout/Footer') %>
</body>
</html>