<section class="container bg-transparent my-10  mx-auto rounded-lg">
    <%- include('./AlertMessage') %>
    <form method="POST" action="/register"
        class="form mb-20 flex flex-col gap-10 items-center p-10 bg-neutral-300 shadow-xl rounded-xl mt-2">

        <fieldset class="w-full flex items-center justify-center gap-6 flex-wrap">
            <legend class="form-heading label text-center my-5 text-primary-content font-bold text-2xl mb-10">Register
            </legend>
            <div class="name w-full max-w-xs">
                <input type="text" name="name" placeholder="Name" class="input input-bordered w-full text-white"
                    value="<%= locals.formData && formData.name ? formData.name : '' %>" />
            </div>
            <div class="contact w-full max-w-xs">
                <input type="tel" name="contact" placeholder="Contact" class="input input-bordered w-full text-white"
                    value="<%= locals.formData ? formData.contact : '' %>" />
            </div>
            <div class="password w-full max-w-xs">
                <input type="password" name="password" placeholder="Password"
                    class="input input-bordered w-full text-white"
                    value="<%= locals.formData ? formData.contact : '' %>" />
            </div>
            <div class="password_confirmation w-full max-w-xs">
                <input type="password" name="password_confirmation" placeholder="Confirm Password"
                    class="input input-bordered w-full text-white"
                    value="<%= locals.formData ? formData.contact : '' %>" />
            </div>

        </fieldset>


        <button type="submit" class="btn btn-primary">Submit</button>
        <button onclick="toggleRegistration()" type="button"
            class="toggle-btn cursor-pointer text-primary-content underline mt-[-2rem]">Cick to Login</button>
    </form>
</section>

<script>
    let isRegistered = false;
    function toggleRegistration() {
        isRegistered = !isRegistered;
        let toggleButton = document.querySelector(".toggle-btn");
        let name = document.querySelector(".name");
        let password = document.querySelector(".password");
        let password_confirmation = document.querySelector(".password_confirmation");
        let formHeading = document.querySelector(".form-heading");
        let form = document.querySelector("form");

        formHeading.textContent = isRegistered ? "Login" : "Register";
        name.style.display = isRegistered ? "none" : "block";
        password_confirmation.style.display = isRegistered ? "none" : "block";
        toggleButton.textContent = isRegistered ? "Click to Register" : "Click to Login";
        form.action = isRegistered ? "/login" : "/register";
    }
</script>